/* Estilos para o vídeo */
video {
    width: 100%;
    height: auto;
}

/* Estilos para o carrossel */
.carousel-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.carousel-slide {
    text-align: center;
    padding: 20px;
}

/* Estilos para os blocos informativos */
.info-block {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
}

.info-block h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-block p {
    font-size: 16px;
}
